.img{
    width: 100%;
    height: 960px;
    background-image: url(./IMAGE\ -\ 2025-11-22T172112.468.png);
    background-repeat: no-repeat;
    background-position: right;
}
.img1{
    width: 688px;
    height: 842px;
    background-image: url(./IMAGE\ -\ 2025-11-23T200339.762.png);
    background-repeat: no-repeat;
    background-position: start;
}
.img2{
    width: 100%; 
    height: 100vh;
    background-image: url(./Frame\ \(73\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}